@import "../../styles/variables.scss";

.header {
  background-image: linear-gradient(
    to bottom,
    rgba($black, 0.5),
    rgba($black, 0)
  );
  line-height: 0;
  height: 60px;
  padding: 0;
  position: relative;
}

.header-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.logo {
  color: $white;
  font-size: 1.5rem;
  font-weight: 400;
}

.controls {
  align-items: center;
  display: flex;
}

.date-input {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: 0;
  border-radius: 0 1rem 1rem 0;
  background: $white;
  color: $black;
  font-size: 1rem;
  height: 2rem;
  text-align: center;
  width: 10rem;
}

.refresh-btn {
  background: $theme-red;
  border-radius: 1rem 0 0 1rem;
  border: 0;
  color: $white;
  cursor: pointer;
  font-size: 1rem;
  line-height: 2rem;
  outline: none;
  padding: 0 1rem;
  height: 2rem;

  &:hover {
    opacity: 0.8;
  }
}
