@import "../../styles/variables.scss";

.footer {
  align-items: center;
  background-image: linear-gradient(to top, rgba($black, 0.5), rgba($black, 0));
  color: $white;
  display: flex;
  font-size: 0.8rem;
  justify-content: center;

  a {
    color: $white;

    &:hover {
      color: rgba($white, 0.8);
    }
  }

  img {
    margin: 0 1rem;
  }
}
