@import "../../styles/variables.scss";

.footer {
  background-image: linear-gradient(to top, rgba($black, 0.5), rgba($black, 0));
  color: $white;
  font-size: 0.8rem;
  text-align: center;

  a {
    color: $white;

    &:hover {
      color: rgba($white, 0.8);
    }
  }
}
